.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.sidebar-container {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 200px;
  display: block;
  z-index: 1;
  font-weight: 200;
  background-size: cover;
  background-position: 50%;
  background-color: #000;
  opacity: 0.8;
  color: white;
}

.sidebar-container .sidebar-wrapper {
  position: relative;
  height: calc(100vh - 75px);
  overflow: auto;
  width: 200px;
  z-index: 4;
  padding-bottom: 30px;
}

.sidebar-wrapper .sidebar-nav {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  margin-top: 20px;
  font-weight: 600;
}

.logo-container {
  padding: 10px 30px;
  border-bottom: 1px solid hsla(0, 0%, 100%, 0.2);
  position: relative;
  z-index: 4;
}

.logo-container > a {
  text-transform: uppercase;
  padding: 5px 0;
  display: block;
  font-size: 18px;
  font-weight: 600;
  line-height: 34px;
  text-decoration: none;
  color: white;
}

.logo-img {
  width: 34px;
  display: inline-block;
  height: 24px;
  margin-left: -2px;
  margin-top: -2px;
  margin-right: 10px;
  border-radius: 30px;
  text-align: center;
  float: left;
}

.logo-img img {
  width: 40px;
  margin-left: -3px;
  display: block;
  margin-top: 2px;
  margin-top: 8px;
}

.content-container {
  background: rgba(203, 203, 210, 0.15);
  position: relative;
  float: right;
  width: calc(100% - 200px);
}

.card-container {
  width: 300px;

  margin: auto;

  border-radius: 20px;

  position: relative;

  text-align: center;

  box-shadow: -1px 15px 30px -12px black;

  z-index: 9999;
}
.alert-wrapper {
  display: block;
  line-height: 15px;
  font-weight: bold;
}

.alert-container {
  position: fixed;

  bottom: 0px;
  width: 100%;
  text-align: center;
  display: block;

  margin: auto;
  height: auto;
  background-color: cornflowerblue;
  z-index: 10000;
}

.card-container:hover {
  transform: scale(1.05);
  transition: 0.5s all;
}
.navbar-wrapper {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  justify-content: space-between;
}

.nav-header a {
  text-decoration: none;
  text-transform: uppercase;
  padding: 10px;
  margin: 5px 0px;
  font-size: 20px;
  color: #5e5e5e;
}

.close-button {
  position: absolute;
  right: 210px;
  font-size: 30px;
  cursor: pointer;
}

.nav-header {
  margin-right: 0;
  margin-left: 0;
  display: flex;
}

.content-wrapper-main {
  padding: 30px 15px;
}

.contact-wrapper-main {
  height: 100vh;
}

.about-wrapper-main {
  height: 100vh;
}

.navbar-container {
  background-color: hsla(0, 0%, 100%, 0.96);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.nav-logo {
  display: flex;
  align-items: center;
}

.nav-logo > img {
  height: 40px;
  width: 40px;
}

.wireless-container {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 40px;
}

.table-container {
  display: flex;
  justify-content: space-between;
  padding: 20px 40px;
  margin-top: 40px;
}

.table-wrapper {
  border-radius: 20px;

  box-shadow: -1px 15px 30px -12px black;

  z-index: 9999;
  padding: 20px;
}

.table-wrapper:hover {
  transform: scale(1.02);
  transition: 0.5s all;
}

.area-wrapper > div {
  border-radius: 20px;

  box-shadow: -1px 15px 30px -12px black;

  z-index: 9999;
}

.area-wrapper > div:hover {
  transform: scale(1.02);
  transition: 0.5s all;
}

.table-wrapper > h3 {
  text-transform: uppercase;
}

.table {
  border-spacing: 0px;

  box-shadow: 0 1px 0 0 rgba(22, 29, 37, 0.05);
  width: 100%;
}

.area-wrapper {
  display: flex;
  justify-content: center;
}

.cell {
  border: 1px solid #f4f6f8;
  padding: 4px;
  text-align: left;
}

.wireless-container > div {
  border-radius: 20px;
  box-shadow: -1px 15px 30px -12px black;
  z-index: 9999;
}

.wireless-container > div:hover {
  transform: scale(1.02);
  transition: 0.5s all;
}

.card-container .temp-heading {
  font-size: 26px;

  color: black;

  font-weight: 900;

  margin-bottom: 10px;
}

.card-container .device-heading {
  padding-bottom: 10px;
}

.sidebar-wrapper .sidebar-nav > li > a {
  text-decoration: none;
  color: white;
  padding: 10px 15px;
  margin: 5px 15px;
  display: block;
  border-radius: 5px;
  text-transform: uppercase;
}

.sidebar-wrapper .sidebar-nav > li > a:hover {
  background-color: rgba(203, 203, 210, 0.15);
}

.card-container-wrapper {
  display: flex;
  margin-bottom: 40px;
}

.card-container .temp-container {
  background: #309eff;

  color: white;

  font-weight: 700;

  padding: 20px 15px;

  border-bottom-right-radius: 20px;

  border-bottom-left-radius: 20px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
